.goUp{
    position: fixed;
    background-color:lightblue;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    top:80%;
    right:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    border: 3px black solid;
}
.goUp img{
    width: 50%;
    height: 50%;
}

input{
    width: 75%;
    border-radius: 10px;
    border: 0;
    filter: drop-shadow(1px 1px 4px black);
    height: 4rem;
    background-color: lightblue;
    color: black;
    font-size: 1.6em;
    margin-top: 10rem;
    font-weight: 700;
    text-align: center;
}
#films_infini{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 50px;
}
#films_infini h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.3em;
    margin-top: 12rem;
    margin-bottom: -10rem;
}

.grid_infini{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
}
.film_infini_carte{
    width: 18rem;
    height: 30rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 1rem;
    filter: drop-shadow(1px 2px 5px black);
}

.img_replace_infini{
    width: 80%;
    height:auto;
    max-height: 1rem;
    max-height: 30rem;

}
.film_infini_name{
    font-size:1.2em;
    
}
.film_infini_name a,.film_infini_name a:visited{
    text-decoration: none;
    color: blue;
    font-weight: 900;

}
.film_infini_resume{
    display: none;
    text-align: center;
}

.spin_animationv1{
    animation: carte_spinv1 0.25s linear forwards 1;
}
.spin_animationv2{
    animation: carte_spinv2 0.25s linear forwards 1;
}

.abutton{
    display: none;
    margin-top: 20px;
    width: 8em;
    height: 3em;
    padding: 1rem;
    font-size: 1em;
    background: lightblue;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    
}
@keyframes carte_spinv1{
    0%{}
    100%{
        transform: rotateY(90deg);
    }
}
@keyframes carte_spinv2{
    0%{transform: rotateY(90deg)}
    100%{
        transform: rotateY(180deg);;
    }
}


.charger{
    margin-bottom: 50px;
    background-color: lightblue;
    padding: 1rem 5rem;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.charger:hover{
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .resume{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

}

@media screen and (max-width: 1300px) {
    .grid_infini{
           grid-template-columns: repeat(2,1fr);
           gap: 150px;
    }

}

@media screen and (max-width: 750px) {
    .grid_infini{
           grid-template-columns: repeat(1,1fr);
           gap: 150px;
    }
    .titre_index{
        font-size: 1.7rem !important;
    }

    input{
        height: 3.5rem;
        font-size: 1.4em;
    }
}
