footer{
    background-color: papayawhip;
    padding: 4rem 0;
}
.footer_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    
}
footer nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
footer h3{
    font-size: 1.4em;
    font-weight: 900;
}
footer p {
  align-self: center;
  font-size: 1em;
  font-weight: 900;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.contact,.navigation{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;

}
.social_img{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
footer a, footer a:visited{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 500;

}
.social img{
    width: 3rem;
    height: 3rem;
    background-color: black;
    border-radius: 50%;
}

footer a:hover{
    color: #333;
    transform: scale(1.1);
    transition: 0.5;
    font-weight: bolder;
}