*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    position: fixed;
    background-color: whitesmoke;
    filter: drop-shadow(1px 1px 1px black);
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;  
}

.logo{
    padding-right: 3rem;
}

.header ul{
    
    display: flex;
    gap: 4em;
}
.important{
    z-index: 1000;
}
.header ul li{
    list-style-type: none;
    margin-bottom: -20px;
}
.header ul a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.header ul a:hover{
    color: lightblue;
    transition: 0.3s;
    border-bottom: 2px solid black;
}
.theme_liste_clair{
    position: relative;
    background-color: lightskyblue;
    width: 70px;
    height: 2rem;
    border-radius: 20px;
    border: 2px solid black;
}

.theme_button_clair{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: goldenrod;
    border-radius: 50%;
    transform: translateX(0);
    transition: 0.3s;
}

.theme_liste_sombre{
    position: relative;
    background-color: rgba(5, 25, 38, 0.765);
    width: 70px;
    height: 2rem;
    border-radius: 20px;
    border: 2px solid black;
}

.theme_button_sombre{
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border-radius: 50%;
    transform: translateX(100%);
    transition: 0.3s;
}
.theme_change:hover{
    cursor: pointer;
}


.couche_anti_touche_hide{
    position:absolute;
    top: -50rem;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    height: 100vh;
    z-index: 997;
}

.couche_anti_touche_show{
    position:absolute;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    height: 100vh;
    z-index: 997;
    top:0;
    transition: 1 ease-in-out;

}
.header_burger{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height:fit-content;
    width: 100%;
    left: 0;
    z-index: 999;
    
}



.header_burger_hide{
    top: -27rem;
}
.header_burger_show{
    top: 94px;
    transition: 1s ease-out;
}

.header_burger nav ul{
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    align-items: center;

    gap:0;
}
.header_burger nav ul li:not(:nth-of-type(4)){
    border: 1px solid black;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

.header_burger nav ul li:nth-child(4){
    margin:35px 0;
}

.header_burger ul li{
    display: none;
    margin-bottom: 0;
}
.burger_icon_list{
    display: none;
}

@media screen and (max-width: 1024px) {
    .header ul li{
        display: none;
    }
    .show_mobil{
        display: block !important;
    }
    .burger_icon_list button{
        background-image:url("/assets/burgericon.png");
        background-position: center;
        background-size: contain;
        padding:1rem;
        border: 0;
        background-color: transparent;
        display: block;
        }
    .burger_icon_list button:hover{
        cursor: pointer;
    }

}


.header_burger_dark{
    background-color: #333 !important;
    border: 1px solid lightblue !important;
}
.darkheader{
    background-color: #333;
    filter: drop-shadow(1px 1px 1px lightblue);
}
.darklien{
    color: lightblue !important;
}
.darkcontainer{
    background-color:cadetblue;
    filter: drop-shadow(1px 1px 1px black);
}
.darkbody{
    background-color: #2a2a2a;
}
.titre_dark{
    color: cadetblue;
}

.movies_container_dark{ 
    filter: drop-shadow(1px 1px 2px lightblue);

}
.footer_dark{
    background-color: cadetblue;
}

.contact_carte_dark{
    background-color:cadetblue ;

}
#info_dark_theme{
    color: lightblue !important;

}