.content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
.carte{
    width:20rem;
    min-height: 20rem;
    height: fit-content;
    background-color: lightblue;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size:1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    gap:15px;
    filter: drop-shadow(2px 3px 10px black);
    margin-bottom: 3rem;
}


.carte img{
    width: 90%;
    min-height: 17rem;
    height: auto;
    border: 2px solid black;
}
.name{
text-align: center;
}
.point{
text-align: center;
}

.info{
    font-size:1.2em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
    width: 65%;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    body{
        font-size: 12px;
    }
    .header-burger{
        font-size: 16px !important;
    }
    .info{
        text-align: start;
    }

    .carte{
        width: 18rem;
    }
}