*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    animation: comehere 0.6s linear forwards;
}

@keyframes comehere {

    0%{

    }
    100%{
        opacity: 1;
    }
}

.mid{
    margin-top: 20rem;
    flex-direction: column;
    display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
    width: 100%;
    height: 100%;
    gap: rem;
}
h1{
   
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; 
    color: lightblue;
    font-size: clamp(1.5em,calc(6vw + 2em),50em);

}
p{
   

    color: black;
    font-size: clamp(0.5em,calc(1vw + 0.5em),1em);
    text-align: center;
    
    margin-top: 1rem;
}

p:nth-child(3){
    margin-top: 4rem;
}
body{
    background-color: whitesmoke;

}
a{  
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border: solid black 2px;
    border-radius: 10px;
    padding: 1rem  0.7rem;
 
}

a:hover,a:focus{
    transform:scale(1.5);
    color: darkcyan;
    transition: 0.5s;
}